
# Site Settings
locale                   : "en-US"
description              : "An amazing website."
url                      : "https://www.yovori.com"
repository               : "oriolverdeny/yovori"



baseurl: "/"
permalink: pretty
title: 'Yovori'

logo:
  mobile: "images/logo/logo yovori.png"
  mobile_height: "66px"
  mobile_width: "125px"
  desktop: "images/logo/logo yovori.png"
  desktop_height: "66px"
  desktop_width: "125px"

home: 
  limit_products: 3
  limit_services: 3

collections:
  products:
    output: true
    sort_by: weight
  services:
    output: true
    sort_by: weight
  team:
    output: true

defaults:
  - scope:
      path: ""
      type: "products"
    values:
      layout: "product"
  - scope:
      path: ""
      type: "services"
    values:
      layout: "service"
  - scope:
      path: ""
      type: "team"
    values:
      layout: "team"

sass:
  style: compressed # possible values: nested expanded compact compressed

plugins:
  - jekyll-environment-variables

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - LICENSE.md
  - LICENSE
  - README.md
