---
---

// Colors

$primary: #FFD03A;
$primary-dark: #a01b16;
$secondary: #a01b16;
$black: #2f2f41;
$white: #ffffff;
$white-offset: #efecec76;
$steel: #5c5a5a;

// Links
$link-color: $black;
$link-decoration: underline;
$link-hover-color: darken($primary, 10%);
$link-hover-decoration: underline;
$link-hover-border-bottom: 3px solid $primary;








// Fonts
$font-family-base: Helvetica, Arial, sans-serif, -apple-system;
$font-family-heading: Helvetica, Arial, sans-serif, -apple-system; //"Playfair Display", serif, -apple-system;

// Footer
$footer-background-color: $primary;
$footer-text-color: $black;
$sub-footer-background-color: darken($primary, 10%);
$sub-footer-text-color: $black;

// Bootstrap
@import "bootstrap-variables";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
@import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library

// Libraries
@import "libraries/hamburgers/hamburgers";

// Components
@import "components/type";
@import "components/page";
@import "components/header";
@import "components/footer";
@import "components/sub-footer";
@import "components/logo";
@import "components/main-menu";
@import "components/main-menu-mobile";
@import "components/hamburger";
@import "components/buttons";
@import "components/call";
@import "components/title";
@import "components/content";
@import "components/intro";
@import "components/intro-image";
@import "components/strip";
@import "components/feature";
@import "components/social";
// @import "components/fonts"; // Uncomment this line to self host font

// Pages
@import "pages/page-home";
@import "pages/page-teams";
@import "pages/page-service";

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}
